//
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
//open sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
//    font-family: "Open Sans", sans-serif;
//    font-family: "Titillium Web", sans-serif;
 
 // Colors
$color_bg_brown: #5c1f06;
$color_bg_white: #f9f9f9;
$color_light_brown: #d97852;
$color_beige: #d1b3a7;
$color_dark_beige: #524641;
$color_gray: #cccccc;
$color_black: #000000;