@use '../Styles/variabler.scss'as*;

nav {
  border-bottom: 3px solid $brown;
 
}
ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    
   


}
 span {
  font-family: "Titillium Web", sans-serif;
  color: $orange;
  font-weight: 900;
  font-size: 54px;

}

// nav li:last-child {
//   border-right: none;
// }
nav li a {
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
   color:$grey;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

 


// @media(max-width: 600px){
//     ul{
//         flex-direction: column;
//         gap: 2rem;
//     }
//     nav li{
//         border-right:none;
//     }

// }