
.genreSort{
    font-family:"Open Sans", sans-serif;
    list-style: none;
    font-size: 600;
    
}
h1{
    color: #d97852;
    
    
}
p{
    color: #524641;
}
li{
    color: #5c1f06;
}
li:hover{
    color: #d97852;
}